<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Labels and Indicators</string>
		<key>content</key>
		<array>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Celestial Equator</string>
				<key>image</key>
				<string>row_icon_celestial_sphere</string>
				<key>binding</key>
				<string>showCelestialEquator</string>
			</dict>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Ecliptic</string>
				<key>image</key>
				<string>row_icon_ecliptic</string>
				<key>binding</key>
				<string>showEcliptic</string>
			</dict>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Constellation Label</string>
				<key>image</key>
				<string>row_icon_constellation_label</string>
				<key>binding</key>
				<string>showConstellationLabel</string>
			</dict>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Planet Label</string>
				<key>image</key>
				<string>row_icon_constellation_label</string>
				<key>binding</key>
				<string>showPlanetLabel</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Moon</string>
		<key>content</key>
		<array>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Moon Phase</string>
				<key>image</key>
				<string>row_icon_moon</string>
				<key>binding</key>
				<string>showMoonPhase</string>
			</dict>
			<dict>
				<key>type</key>
				<string>toggle</string>
				<key>text</key>
				<string>Show Earthshine</string>
				<key>image</key>
				<string>row_icon_earthshine</string>
				<key>binding</key>
				<string>showEarthshine</string>
				<key>disableCondition</key>
				<dict>
					<key>key</key>
					<string>showMoonPhase</string>
					<key>condition</key>
					<false/>
					<key>fallback</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
