<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Settings</string>
	<key>contents</key>
	<array>
		<dict>
			<key>section</key>
			<string>Location</string>
			<key>content</key>
			<array>
				<dict>
					<key>type</key>
					<string>external</string>
					<key>identifier</key>
					<string>location</string>
					<key>image</key>
					<string>row_icon_target</string>
					<key>reloadUponLocationUpdate</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>section</key>
			<string>General</string>
			<key>content</key>
			<array>
				<dict>
					<key>type</key>
					<string>detail</string>
					<key>text</key>
					<string>Content Rendering</string>
					<key>image</key>
					<string>row_icon_compass</string>
					<key>destination</key>
					<string>content_rendering_menu</string>
				</dict>
				<dict>
					<key>type</key>
					<string>detail</string>
					<key>text</key>
					<string>Controls</string>
					<key>image</key>
					<string>row_icon_control</string>
					<key>destination</key>
					<string>control_menu</string>
				</dict>
				<dict>
					<key>type</key>
					<string>detail</string>
					<key>text</key>
					<string>Debugging</string>
					<key>image</key>
					<string>row_icon_inspection</string>
					<key>destination</key>
					<string>debug_menu</string>
				</dict>
				<dict>
					<key>type</key>
					<string>detail</string>
					<key>text</key>
					<string>Experiments</string>
					<key>image</key>
					<string>row_icon_experiment</string>
					<key>destination</key>
					<string>experiment_menu</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
