<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>type</key>
				<string>detail</string>
				<key>text</key>
				<string>Content Drawing</string>
				<key>image</key>
				<string>row_icon_compass</string>
				<key>destination</key>
				<string>content_drawing_menu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>type</key>
				<string>detail</string>
				<key>text</key>
				<string>Debugging</string>
				<key>image</key>
				<string>row_icon_inspection</string>
				<key>destination</key>
				<string>debug_menu</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
